.App {
  text-align: center;
}
.img1{
  width: 17.5vw;
}
.img2{
  width: 9.5vw;
}
.img3{
  width: 10vw;
}
.img4{
  width: 12vw;
}
.grid4{
 align-items:center;

}
.grid{
  align-items: center;
  padding-top: 10%;
  padding-left: 10%;
}